// Colors
// - - - - - - - - - - - - - - - - - - - - - <
$color-primary: rgb(102, 170, 138);
$color-secondary: rgb(184, 202, 80);
$color-light: rgb(231, 229, 229);
$color-dark: rgb(49, 49, 49);

// Fonts
// - - - - - - - - - - - - - - - - - - - - - <
$font-primary: Arial, Helvetica, sans-serif;

// Breakpoints for media query
// - - - - - - - - - - - - - - - - - - - - - <
$bp-720: 45em; // Breakpoint at 720px
