*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.4%;
  font-family: $font-default;
  // Query small - - - <
  @include media($bp-small) {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  background-color: $color-dark;
  color: $color-light;
}

img {
  max-width: 100%;
}

main {
  padding: 2rem;
}
