// Colors
// - - - - - - - - - - - - - - - - - - - - - <
$color-grey-light: #eee;
$color-grey-mid: rgb(110, 93, 93);
$color-dark1: rgb(56, 42, 48);
$color-dark: rgb(53, 31, 41);
$color-highlight: rgb(67, 204, 158);

// Fonts
// - - - - - - - - - - - - - - - - - - - - - <
$font-default: Arial, Helvetica, sans-serif;
