// Colors
// - - - - - - - - - - - - - - - - - - - - - <
$color-primary: rgb(243, 39, 39);
$color-secondary: rgb(54, 93, 223);
$color-tertiary: rgb(52, 141, 52);

$color-light-1: #fff;
$color-light-2: rgb(241, 212, 177);

// Colors
// - - - - - - - - - - - - - - - - - - - - - <
$font-default: Arial, Helvetica, sans-serif;

// Order: amount (for darken and lighten)
// - - - - - - - - - - - - - - - - - - - - - <
$order: (
  1: 7,
  2: 14,
  3: 21,
  4: 28,
);
