// Theme 1
// - - - - - - - - - - - - - - - - - - - - - <
$color-primary-1: rgb(243, 89, 62);
$color-dark-1: rgb(58, 58, 58);

$font-primary-1: Arial, Helvetica, sans-serif;
$font-secondary-1: "Times New Roman", Times, serif;

$border-radius-1: 0.7rem;
$box-shadow-1: -1rem 1rem 1rem rgba(#000, 0.5);

// Theme 2
// - - - - - - - - - - - - - - - - - - - - - <
$color-primary-2: rgb(62, 177, 243);
$color-dark-2: rgb(58, 58, 58);

$font-primary-2: "Times New Roman", Times, serif;
$font-secondary-2: Arial, Helvetica, sans-serif;

$border-radius-2: 0;
$box-shadow-2: 1rem 1rem 1rem rgba(#000, 0.5);
